{% load i18n %}
<c-card>
  <c-slot name="badges">
    <c-badge text="{{ object.get_type_display }}" />
  </c-slot>
  <h3 class="text-lg font-semibold">
    <a href="{% url 'literature:item-detail' pk=object.pk %}">{{ object.title|default:object.citation_key }}</a>
  </h3>
  {% if object.credited_roles %}
    <c-text size="sm" muted>
      {% translate "Credited as" %}:
      {% for role in object.credited_roles %}{{ role }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </c-text>
  {% endif %}
  {% for item_date in object.item_dates.all %}
    {% if item_date.date_type == "issued" %}
      <c-text size="sm" muted>{% translate "Issued" %}: {{ item_date.begin|default:item_date.literal }}</c-text>
    {% endif %}
  {% endfor %}
  <c-text size="xs" muted>{{ object.citation_key }}</c-text>
</c-card>
